#dashboard {
  justify-content: center;
  width: 80%;
  margin: 1em auto;
  //padding: 1em;
  background-color: var(--light-background);
  border-radius: 8px;
  padding: 1.5em 2.5em 1.5em 2.5em;
}

.ng-star-inserted {
  overflow: hidden;
}
