<p-dialog [(visible)]="display" [draggable]="false"
          [focusOnShow]="true"
          styleClass="user-access-dialog dialog-popup">
  <div id="user-access-panel">
    <div class="card">
      <h2>Already have an account?</h2>
      <div class="p-d-flex p-ai-center p-jc-center">
        <div class="p-fluid">
          <div class="p-field">
            <label for="username"></label>
            <input [(ngModel)]="user.username"
                   [ngClass]="setInvalidIf(usernameNotInserted)" id="username" pInputText placeholder="Username"
                   type="text"/>
          </div>
          <div class="p-field">
            <label for="password"></label>
            <input [(ngModel)]="user.password"
                   [ngClass]="setInvalidIf(passwordNotInserted)" id="password" pInputText placeholder="Password"
                   type="password"/>
          </div>

          <div class="error-message">
            <h5 *ngIf="usernameNotInserted">Please insert username</h5>
            <h5 *ngIf="usernameNotAvailable">User not available</h5>
            <h5 *ngIf="passwordNotInserted">Please insert password</h5>
          </div>

          <p-button (onClick)="login()" autofocus label="Login" type="button"></p-button>
        </div>
      </div>
      <div class="p-d-flex p-ai-center p-jc-center">
        <p-divider layout="horizontal">
          <b>OR</b>
        </p-divider>
      </div>
      <div>
        <app-signup></app-signup>
      </div>
    </div>
  </div>
</p-dialog>

<button (click)="showDialog()" icon="pi pi-sign-in" id="user-access-button" label="Login" pButton
        type="button"></button>
