#user-access-panel {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: var(--surface-a);
  border-radius: 8px;

  ::ng-deep {
    .p-divider-content {
      background-color: var(--surface-a) !important;
    }
  }
}
