<div class="font-big" id="navbar">
  <p-menubar [model]="items">
    <ng-template pTemplate="start">
      <img alt="" class="p-mr-2 logo" routerLink="/" src="/frontend/src/assets/images/logo.png">
    </ng-template>

    <div *ngIf="false; then loggedUserContent else userAccessContent"></div>
    <ng-template #loggedUserContent>
      <app-logout></app-logout>
    </ng-template>
    <ng-template #userAccessContent>
      <app-user-access></app-user-access>
    </ng-template>

  </p-menubar>
</div>
