$navbar-height: 3em;

#navbar {
  border: none;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1;
  > * {
    height: $navbar-height;
    width: 100%;
    background-color: var(--primary-color) !important;
    font-size: var(--font-medium);
    color: var(--text-color-light) !important;
    margin: 0;
  }
}

span {
  outline: none;
  border: 0;
}

.logo {
  height: $navbar-height;
  box-shadow: none;
  outline: none;
}

::ng-deep {
  #user-access-button {
    font-size: 18px !important;
    font-family: var(--font-family)
  }

  .p-menubar {
    background-color: var(--primary-color) !important;
    margin: 0;
    border: none;
    border-radius: 0;
  }

  .p-menuitem-text {
    font-size: var(--font-medium);
    color: var(--text-color-light) !important;
    margin: 0;
  }

}
