$height: 4em;

#navbar > * {
  height: $height;
  background-color: var(--primary-color) !important;
}

.spacer {
  flex: 1 1 auto;
}

::ng-deep {
  .p-tabmenu > * {
    background-color: var(--primary-color) !important;
    margin: 0;
    height: $height;
  }

  .p-menuitem-link {
    background-color: var(--primary-color) !important;
    margin: 0;
    height: $height;
  }

  .p-menuitem-text {
    color: var(--text-color-light) !important;
    margin: 0;
  }
}
