<div class="font-medium" id="content-divider">

  <div class="spacer"></div>

  <div class="card">
    <h2>Lorem ipsum</h2>
    <div class="p-grid">
      <div class="p-col-5 p-d-flex p-ai-center p-jc-center">
        <div class="p-fluid">
          <p>Lorem ipsum</p>
        </div>
      </div>
      <div class="p-col-2">
        <p-divider layout="vertical">
          <b>Lorem</b>
        </p-divider>
      </div>
      <div class="p-col-5 p-d-flex p-ai-center p-jc-center">
        <img alt="" class="demonstrative-images" src="assets/images/abstract1.png">
      </div>
    </div>
  </div>

  <div class="spacer border"></div>

  <div class="card">
    <h2 class="p-text-right">Lorem ipsum</h2>
    <div class="p-grid">
      <div class="p-col-5 p-d-flex p-ai-center p-jc-center">
        <div class="p-fluid">
          <img alt="" class="demonstrative-images" src="assets/images/abstract2.jpg">
        </div>
      </div>
      <div class="p-col-2">
        <p-divider layout="vertical">
          <b>Lorem</b>
        </p-divider>
      </div>
      <div class="p-col-5 p-d-flex p-ai-center p-jc-center">
        <p>Lorem ipsum</p>
      </div>
    </div>
  </div>

  <div class="spacer border"></div>

  <div class="card">
    <h2>Lorem ipsum</h2>
    <div class="p-grid">
      <div class="p-col-5 p-d-flex p-ai-center p-jc-center">
        <div class="p-fluid">
          <p>Lorem ipsum</p>
        </div>
      </div>
      <div class="p-col-2">
        <p-divider layout="vertical">
          <b>Lorem</b>
        </p-divider>
      </div>
      <div class="p-col-5 p-d-flex p-ai-center p-jc-center">
        <img alt="" class="demonstrative-images" src="assets/images/abstract1.png">
      </div>
    </div>
  </div>

  <div class="spacer"></div>

</div>
