<div class="font-medium" id="content-divider">

  <div class="spacer"></div>

  <div class="card">
    <h2>What's MEANStack?</h2>
    <div class="p-grid">
      <div class="p-col-5 p-d-flex p-ai-center p-jc-center">
        <div class="p-fluid">
          <p>This is a template project that implements the MEAN stack. The acronym MEAN stands for (M)ongoDB,
            (E)xpress, (A)ngular
            and (N)ode.js. This is a full Javascript stack so both backend and frontend are written in the same
            language.
            Furthermore, the project is production-ready thanks to the use of the Docker engine which allows a fast and
            scalable
            deployment. And last but not least this stack is fully open source, which means that many developers work
            every day on
            all these components.</p>
        </div>
      </div>
      <div class="p-col-2">
        <p-divider layout="vertical">
        </p-divider>
      </div>
      <div class="p-col-5 p-d-flex p-ai-center p-jc-center">
        <img alt="" class="demonstrative-images" src="assets/images/mean.png">
      </div>
    </div>
  </div>

  <div class="spacer border"></div>

  <div class="card">
    <h2 class="p-text-right">MongoDB</h2>
    <div class="p-grid">
      <div class="p-col-5 p-d-flex p-ai-center p-jc-center">
        <div class="p-fluid">
          <img alt="" class="demonstrative-images" src="assets/images/mongodb.png">
        </div>
      </div>
      <div class="p-col-2">
        <p-divider layout="vertical">
        </p-divider>
      </div>
      <div class="p-col-5 p-d-flex p-ai-center p-jc-center">
        <p>MongoDB is a document-oriented NoSQL database that uses JSON-like document called BSON (Binary JSON). MongoDB
          use
          collections and documents: documents consist of key-value pairs which are the basic unit of data in MongoDB.
          Collections
          contain sets of documents and function which is the equivalent of relational database tables. These features
          allow
          MongoDB to be used for high volume data storage.</p>
      </div>
    </div>
  </div>

  <div class="spacer border"></div>

  <div class="card">
    <h2>Express</h2>
    <div class="p-grid">
      <div class="p-col-5 p-d-flex p-ai-center p-jc-center">
        <div class="p-fluid">
          <p>Express is a minimal and flexible Node.js web application framework that provides a robust set of features
            for web and
            mobile applications. Express has a myriad of HTTP utility, methods and middleware used to create a robust
            API quickly
            and easily. Express provides a thin layer of fundamental web application features, without obscuring
            Node.js, for this
            reasons it's the standard framework used on it.</p>
        </div>
      </div>
      <div class="p-col-2">
        <p-divider layout="vertical">
        </p-divider>
      </div>
      <div class="p-col-5 p-d-flex p-ai-center p-jc-center">
        <img alt="" class="demonstrative-images" src="assets/images/express.png">
      </div>
    </div>
  </div>

  <div class="spacer border"></div>

  <div class="card">
    <h2 class="p-text-right">Angular</h2>
    <div class="p-grid">
      <div class="p-col-5 p-d-flex p-ai-center p-jc-center">
        <div class="p-fluid">
          <img alt="" class="demonstrative-images" src="assets/images/angular.png">
        </div>
      </div>
      <div class="p-col-2">
        <p-divider layout="vertical">
        </p-divider>
      </div>
      <div class="p-col-5 p-d-flex p-ai-center p-jc-center">
        <p>Angular is a development platform, built on TypeScript. As a platform, Angular include a component-based
          framework for
          building scalable web applications and a collection of well-integrated libraries that cover a wide variety of
          features,
          including routing, forms management, client-server communication, and more. Angular also has a suite of
          developer tools
          to help the development, build, test, and maintenance of the code. Angular offers the advantage of a platform
          that can
          scale from single-developer projects to enterprise-level applications.</p>
      </div>
    </div>
  </div>

  <div class="spacer border"></div>

  <div class="card">
    <h2>Node.js</h2>
    <div class="p-grid">
      <div class="p-col-5 p-d-flex p-ai-center p-jc-center">
        <div class="p-fluid">
          <p>Node.js is an open-source, cross-platform, backend Javascript runtime environment that runs on the V8
            engine and
            executes Javascript code outside a web browser. Node.js lets developers use Javascript to write command-line
            tools for
            server-side scripting and running scripts server-side to produce dynamic web page content before the page is
            sent to the
            users web browser.</p>
        </div>
      </div>
      <div class="p-col-2">
        <p-divider layout="vertical">
        </p-divider>
      </div>
      <div class="p-col-5 p-d-flex p-ai-center p-jc-center">
        <img alt="" class="demonstrative-images" src="assets/images/nodejs.jpg">
      </div>
    </div>
  </div>

  <div class="spacer border"></div>

  <div class="card">
    <h2 class="p-text-right">Javascript everywhere paradigm</h2>
    <div class="p-grid">
      <div class="p-col-5 p-d-flex p-ai-center p-jc-center">
        <div class="p-fluid">
          <img alt="" class="demonstrative-images" src="assets/images/jseverywhereparadigm.jpeg">
        </div>
      </div>
      <div class="p-col-2">
        <p-divider layout="vertical">
        </p-divider>
      </div>
      <div class="p-col-5 p-d-flex p-ai-center p-jc-center">
        <p>Node.js is a representation of the Javascript everywhere paradigm that means unifying web application
          development around
          a single programming language, rather than different languages for server-side and client-side scripts. Such
          as Node.js
          the MEAN stack aims to use Javascript in the whole development.</p>
      </div>
    </div>
  </div>

  <div class="spacer"></div>

</div>
