#content-divider {
  .demonstrative-images {
    width: 100%;
  }

  .spacer {
    margin: 3em auto;
    width: 60%;
  }

  .border {
    border-bottom-style: groove;
    border-bottom-width: 1px;
  }
}
