<div id="insert-data">

  <div class="form-data">
    <div class="card">
      <h2>Compile the form below</h2>

      <div class="p-fluid p-grid p-formgrid">

        <div class="p-field p-col-12 p-md-4">
          <label for="id">ID</label>
          <span class="p-input-icon-right">
          <i class="pi pi-id-card"></i>
          <input [(ngModel)]="entity.id" [ngClass]="setInvalidIf(this.badIdValue)" id="id" pInputText placeholder="ID"
                 type="text">
        </span>
        </div>

        <div class="p-field p-col-12 p-md-4">
          <label for="author">Author</label>
          <span class="p-input-icon-right">
          <i class="pi pi-user"></i>
          <input [(ngModel)]="entity.data.author" [ngClass]="setInvalidIf(this.badAuthorValue)" id="author" pInputText
                 placeholder="Author" type="text">
        </span>
        </div>

        <div class="p-field p-col-12 p-md-4">
          <label for="dateformat">Date</label>
          <p-calendar [(ngModel)]="entity.data.date" dateFormat="{{dateFormat}}" hourFormat="24" icon="pi pi-calendar"
                      id="dateformat" showTime="true"
                      placeholder="Date" showIcon="true"></p-calendar>
        </div>

        <div class="p-field p-col-12">
          <label for="content">Content</label>
          <span class="p-input-icon-right">
          <i class="pi pi-align-center"></i>
          <textarea [(ngModel)]="entity.data.content" [ngClass]="setInvalidIf(this.badContentValue)" [rows]="3"
                    autoResize="autoResize" id="content" pInputTextarea placeholder="Content" type="text"></textarea>
        </span>
        </div>

        <div class="p-field p-col-12 p-md-4">
          <label for="price">Price</label>
          <span class="p-input-icon-right">
          <i class="pi pi-euro"></i>
          <input [(ngModel)]="entity.data.price" id="price" pInputText placeholder="Price" type="number">
        </span>
        </div>
      </div>

      <div class="p-button-success p-text-center p-md-12">
        <p-confirmPopup></p-confirmPopup>

        <button (click)="confirmSubmission($event)" icon="pi pi-check" iconPos="right" label="Submit" pButton></button>
      </div>

      <div class="error-message">
        <h5 *ngIf="this.badIdValue">Wrong ID</h5>
        <h5 *ngIf="this.badAuthorValue">Wrong Author</h5>
        <h5 *ngIf="this.badContentValue">Wrong Content</h5>
      </div>
    </div>

  </div>
</div>
