/* You can add global styles to this file, and also import other style files */

@import "~primeicons/primeicons.css";
@import "~primeng/resources/primeng.min.css";
@import "~primeng/resources/themes/md-light-deeppurple/theme.css";
@import "~primeflex/primeflex.css";

html, body {
  height: 100%;
  font-family: 'Proxima Nova Rg', serif !important;
}

body {
  text-align: center;
  margin: 0 auto;
}

#page-wrap {
  text-align: left;
  width: 80%;
  margin: 0 auto;
}

:root {
  --text-color-light: #ffffff;
  --text-color-dark: #121420;
  --light-background: #f3f3f3;
}

.font-small {
  font-size: 14px;
}

.font-medium {
  font-size: 18px;
}

.font-big {
  font-size: 21px;
}
