/* You can add global styles to this file, and also import other style files */

@import "~primeicons/primeicons.css";
@import "~primeng/resources/primeng.min.css";
@import "~primeng/resources/themes/md-light-deeppurple/theme.css";
@import "~primeflex/primeflex.css";

:root {
  --text-color-light: #ffffff;
  --text-color-dark: #121420;
  --light-background: #f3f3f3;

  --font-family: 'Proxima Nova Rg', serif !important;
  --font-small: 14px;
  --font-medium: 18px;
  --font-big: 21px;
}

html, body {
  font-family: var(--font-family)
}

body {
  text-align: center;
  margin: 0 auto;
  min-height: 100vh;
}

#page-wrap {
  text-align: left;
  width: 80%;
  margin: 0 auto;
}

.font-small {
  font-size: 14px;
}

.font-medium {
  font-size: 18px;
}

.font-big {
  font-size: 21px;
}

.user-access-dialog {
  width: 40vw;
  padding: 0;

  > * {
    background-color: var(--light-background) !important;
  }

  .p-dialog-header {
    padding: 3em 0 0 2em;
    height: 2em;
  }
}

.logout-dialog {
  width: 40vw;
  padding: 0;

  > * {
    background-color: var(--light-background) !important;
  }

  .p-dialog-header {
    padding: 3em 0 0 2em;
    height: 2em;
  }
}
