.gallery > img {
  display: block;
  width: 100%;
}

.gallery > .centered {
  color: var(--text-color-secondary) !important;
  position: absolute;
  text-align: center;
  width: 100%;
  margin-top: 30%;
}
