#footer {
  padding: 3em;
  background-color: var(--primary-color);
  color: var(--text-color-secondary);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10rem;

  .p-d-flex {
    margin: auto;
    align-items: center;
    align-content: center;
    text-align: center;
    width: 100%;
    justify-content: center;
  }

  a {
    color: var(--text-color-secondary);
  }
}
